
body,html {
  height: 100%;
}

.box {
   background: #fff;
   border-radius: 4px;
   padding-bottom: 100%;
}

.col-lg-4 {
   margin-top: 30px !important;
}

.card {
	height: 400px;
   	min-height: 400px;
}
.card a.btn {
	bottom: 10px;
	right: 10px;
	position: absolute;
}

div.thumb {
	min-height: 200px;
	max-height: 200px;
	padding:5px;
}
div.thumb img {
	max-width:200px;
	max-height:200px;
	border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
	display:block;
    margin:auto;    
}
.card h5,
.card span.price {
	display: inline;
	vertical-align: top;
}

.card span.price {
	float:right;
}
.card a {
    color:#212529 !important;
    text-decoration:none;
}


/* mixin for multiline */
.card-text {
  font-size: 10pt;		
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 6em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}
.card-text:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.card-text:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}