#{extends 'main.html' /}
#{set title:'Home' /}
<div class="container">
<h4>Products</h4>
<div class="row">
 	#{list items:products, as:'product' }
	    <div class="col-lg-4 col-md-4 col-4">
	        <div class="card">
	          <div class="thumb">
			  	<a href="/order/${product.id}" ><img src="${product.imagePath}" alt="${product.name}"></a>
			  </div>
			  <div class="card-body">
			    <div class="card-header-title"> 
			   		<h5 class="card-title"> <a href="/order/${product.id}">${product.name}</a></h5>
			    	<span class="price"><a href="/order/${product.id}">$${product.price.format('0.00')}</a></span>
			    </div>
			    <p class="card-text"><a href="/order/${product.id}">${product.description}</a></p>
			  </div>
			</div>
	    </div>
    #{/list}
</div></div>