#{extends 'main.html' /}
#{set title:'Home' /}
<div class="container h-100">
	<div class="row h-100 justify-content-center align-items-center">
		<form class="col-8 needs-validation" action="@{Application.placeOrder()}" method="POST">
			#{authenticityToken/}
			<div class="form-group row">
			  <div class="col-6">
			    <input type="text" class="form-control" placeholder="First Name"  name="order.firstName" value="${flash.get('order.firstName')}">
			    <div class="invalid-feedback">#{error 'order.firstName' /}</div>
			  </div>
			  <div class="col-6">
			    <input type="text" class="form-control" placeholder="Last Name"  name="order.lastName" value="${flash.get('order.lastName')}">
			    <div class="invalid-feedback">#{error 'order.lastName' /}</div>
			  </div>
			</div>
			<div class="form-group row">
				<div class="col-12">
			    	<input type="text" class="form-control" placeholder="Address"  name="order.address" value="${flash.get('order.address')}">
					<div class="invalid-feedback">#{error 'order.address' /}</div>		    	
			  	</div>
			</div>
			<div class="form-group row">
			  <div class="col-6">
			    <input type="text" class="form-control" placeholder="City"  name="order.city" value="${flash.get('order.city')}">
			    <div class="invalid-feedback">#{error 'order.city' /}</div>
			  </div>			
			  <div class="col-3">
			    <input type="text" class="form-control" placeholder="State"  name="order.state" value="${flash.get('order.state')}">
			    <div class="invalid-feedback">#{error 'order.state' /}</div>
			  </div>
			  <div class="col-3">
			    <input type="text" class="form-control" placeholder="Zip" maxlength="5"  name="order.zip" value="${flash.get('order.zip')}">
			    <div class="invalid-feedback">#{error 'order.zip' /}</div>
			  </div>
			</div>	
			<div class="form-group row">
				<div class="col-12">
			    	<input type="text" maxlength="16" class="form-control" placeholder="Card number"  name="cardNumber" value="${flash.get('cardNumber')}">
			    	<div class="invalid-feedback">#{error 'cardNumber' /}</div>
			  	</div>
			</div>
			<div class="form-group row">
			  <div class="col-6">
			    <input type="month" class="form-control" placeholder="Expiration"  name="expiration" value="${flash.get('expiration')}">
			    <div class="invalid-feedback">#{error 'expiration' /}</div>
			  </div>
			  <div class="col-6">
			    <input type="text" class="form-control" maxlength="4" placeholder="CVV"  name="cvv" value="${flash.get('cvv')}">
			    <div class="invalid-feedback">#{error 'cvv' /}</div>
			  </div>
			</div>
			<div class="form-group row">
				<div class="col-12">
					<input type="hidden" class="form-control" name="order.amount" value="${p.price}">
					<input type="hidden" class="form-control" name="productId" value="${p.id}">
					<button type="submit" class="col-12 btn btn-primary">Pay $${p.price.format('0.00')}</button>			    	
			  	</div>
			</div>			
		</form>
	</div>
</div>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';

    window.addEventListener('load', function() {
    #{ifErrors}
    	Array.from(document.getElementsByClassName("invalid-feedback")).forEach(function(item) {
		   item.style.display = "block";
		   console.log(item);
		});
    #{/ifErrors}
    
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');

      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
        console.log(form.data);
	        //event.preventDefault();
	        //event.stopPropagation();
        }, false);
      });
    }, false);
  })();
</script>