#{extends 'main.html' /}
#{set title:'Home' /}
<div class="container h-100">
	<div class="row h-100 justify-content-center align-items-center"><div class="grid">
	<h4>Success!</h4>
          <div class="thumb">
		  	<img src="/public/images/success.png" alt="">
		  </div>
		  <div class="form-group row">&nbsp;</div>	
		<div class="form-group row">Your order ID is ${order.id}</div>
		<div class="form-group row">Your payment ref is ${order.paymentReference}</div>
		</div>
	</div>
</div>
